

#top {
    .p-fv {
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;

        &__container {
            position: relative;
            width: 100%;
        }

        &__upper {
            position: relative;

            img {
                width: 100%;
                height: 430px;
                object-fit: cover;

                @include media-sp {
                    height: 322px;
                    width: 100%;
                    object-fit: cover;
                }
            }

            h1 {
                position: absolute;
                top: 40%;
                left: 120px;
                font-family: A-OTF Ryumin Pr6N;
                font-size: 56px;
                font-weight: 300;
                line-height: 72.8px;
                letter-spacing: 0.15em;
                text-align: left;
                color: #CCB77F;

                @include media-sp {
                    font-family: $font-APOTF;
                    font-size: 28px;
                    font-weight: 300;
                    line-height: 30.8px;
                    letter-spacing: 0.15em;
                    text-align: left;
                    writing-mode: vertical-lr;
                    top: 20%;
                    left: calc(100vw* 6.4 / 100);
                }

                span {
                    color: #f8f8f8;
                }
            }
        }

        &__middle {
            background-color: #01250B;
            display: flex;
            align-items: center;
            justify-content: center;

            &--content {
                display: flex;
                gap: 20px;
                align-items: center;
                padding-top: 12px;
                padding-bottom: 12px;
            }
        }

        &__bottom {
            position: relative;

            img {
                width: 100%;
                height: 430px;
                object-fit: cover;

                @include media-sp {
                    height: 322px;
                    width: 100%;
                    object-fit: cover;
                }
            }

            h1 {
                font-family: A-OTF Ryumin Pr6N;
                font-size: 56px;
                font-weight: 300;
                line-height: 72.8px;
                letter-spacing: 0.15em;
                position: absolute;
                right: 120px;
                top: 40%;
                color: #CCB77F;

                @include media-sp {
                    font-family: $font-APOTF;
                    font-size: 28px;
                    font-weight: 300;
                    line-height: 30.8px;
                    letter-spacing: 0.15em;
                    text-align: left;
                    writing-mode: vertical-lr;
                    top: 15%;
                    right: calc(100vw* 6.4 / 100);
                }

                span {
                    color: white;
                }
            }
        }
    }

    .p-aboutus {
        position: relative;
        height: 800px;

        @include media-sp {
            height: 748px;
        }

        img {
            width: 100%;
            height: 800px;
            object-fit: cover;

            @include media-sp {
                height: 748px;
            }
        }

        .img-cover {
            position: absolute;
            top: 0;
            width: 100%;
            height: 800px;
            opacity: 0.4;
            background: #000;
            z-index: 1;

            @include media-sp {
                height: 748px;
                opacity: 0.6;
            }
        }

        &__container {
            position: absolute;
            z-index: 2;
            top: 213px;
            width: 800px;
            left: calc(50% - 400px);
            text-align: center;

            @include media-pc {
                width: 700px;
                left: calc(50% - 350px);
            }

            @include media-sp {
                top: 144px;
                width: 311px;
                left: calc(50% - 150px);
            }

            h2 {
                font-family: $font-APOTF;
                font-size: 32px;
                font-weight: 400;
                line-height: 32px;
                letter-spacing: 0.05em;
                text-align: center;
                color: #f8f8f8;

                @include media-sp {
                    font-size: 24px;
                    font-weight: 400;
                    line-height: 24px;
                    letter-spacing: 0.05em;
                }

                small {
                    display: block;
                    font-family: $font-APOTF;
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 14px;
                    letter-spacing: 0.1em;
                    text-align: center;
                    color: #FF2222;
                    padding-top: 16px;

                    @include media-sp {
                        font-size: 12px;
                        font-weight: 500;
                        line-height: 12px;
                        letter-spacing: 0.1em;
                    }
                }
            }

            h3 {
                font-family: $font-APOTF;
                font-size: 32px;
                font-weight: 400;
                line-height: 48px;
                letter-spacing: 0.1em;
                text-align: center;
                color: #fff;
                padding-top: 56px;
                white-space: nowrap;

                @include media-pc {
                    white-space: unset;
                }

                @include media-sp {
                    font-size: 24px;
                    font-weight: 400;
                    line-height: 36px;
                    letter-spacing: 0.1em;
                    text-align: center;
                }
            }

            p {
                //styleName: KS TEXT;
                font-family: $font-APOTF;
                font-size: 16px;
                font-weight: 400;
                line-height: 27.2px;
                letter-spacing: 0.1em;
                text-align: left;
                color: #fff;
                padding-top: 32px;

                @include media-sp {
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 23.8px;
                    letter-spacing: 0.1em;
                }
            }

            a {
                padding: 12px 16px;
                letter-spacing: 2.4px;
                margin: 56px auto 80px;
            }
        }
    }

    .p-facility,
    .p-booth,
    .p-price {
        width: 100%;
        height: 800px;
        display: flex;

        @include media-sp {
            flex-direction: column;
            height: auto;
        }

        &__left {
            width: 66%;
            position: relative;

            @include media-pc {
                width: 60%;
            }

            @include media-sp {
                width: 100%;
                height: 313px;
            }

            img {
                width: 100%;
                height: 800px;
                object-fit: cover;

                @include media-sp {
                    height: 313px;
                    object-fit: cover;
                }
            }
        }

        &__right {
            width: 34%;
            background-color: #111111;

            @include media-pc {
                width: 40%;
            }

            @include media-sp {
                width: 100%;
            }

            &--container {
                width: 272px;
                margin: 200px auto 0;

                @include media-sp {
                    margin-top: 56px;
                    width: 311px;
                }

                h2 {
                    font-family: $font-APOTF;
                    font-size: 32px;
                    font-weight: 400;
                    line-height: 32px;
                    letter-spacing: 0.05em;
                    color: #F8F8F8;
                    text-align: left;

                    small {
                        display: block;
                        padding-top: 16px;
                        color: #FF2222;
                        font-size: 14px;
                        font-weight: 500;
                        line-height: 14px;
                        letter-spacing: 0.1em;
                        text-align: left;
                    }
                }

                p {
                    padding-top: 48px;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 27.2px;
                    letter-spacing: 0.1em;
                    text-align: left;
                    color: #F8F8F8;
                }

                a {
                    margin: 56px 0 80px;
                }
            }
        }
    }

    .p-booth {
        @include media-sp {
            flex-direction: column-reverse !important;
        }
    }

    .p-flow-beginner {
        display: flex;
        width: 100%;
        height: 560px;

        @include media-sp {
            flex-direction: column;
            height: auto;
        }

        &__left,
        &__right {
            position: relative;
            width: 50%;

            @include media-sp {
                width: 100%;
            }

            img {
                width: 100%;
                height: 560px;
                object-fit: cover;

                @include media-sp {
                    height: 260px;
                }
            }

            .flow-content,
            .beginner-content {
                width: 67%;
                position: absolute;
                left: 16%;
                top: 50%;
                transform: translateY(-50%);
                display: flex;
                justify-content: space-between;
                align-items: center;

                @include media-sp {
                    left: 32px;
                    width: calc(100% - 64px);
                }

                h2 {
                    font-family: $font-APOTF;
                    font-size: 32px;
                    font-weight: 400;
                    line-height: 48px;
                    letter-spacing: 0.1em;
                    text-align: left;
                    color: #F8F8F8;

                    small {
                        display: block;
                        padding-top: 16px;
                        font-size: 14px;
                        font-weight: 500;
                        line-height: 14px;
                        letter-spacing: 0.1em;
                        text-align: left;
                        color: #FF2222;
                    }
                }

                a {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 100%;
                    border: 1px solid rgba(248, 248, 248, 0.3);
                    width: 96px;
                    height: 96px;

                    @include media-pc-sm {
                        width: 72px;
                        height: 72px;
                    }
                }
            }
        }
    }

    .p-news {
        padding: 240px 160px;
        background-color: #111;

        @include media-pc {
            padding: 240px 32px;
        }

        @include media-sp {
            padding: 120px 32px;
        }

        &__container {
            width: 100%;
            text-align: left;

            h2 {
                font-family: $font-APOTF;
                font-size: 32px;
                font-weight: 400;
                line-height: 32px;
                letter-spacing: 0.05em;
                text-align: center;
                color: #F8F8F8;
                width: max-content;
                margin: auto;

                small {
                    display: block;
                    width: max-content;
                    margin: auto;
                    margin-top: 16px;
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 14px;
                    letter-spacing: 0.1em;
                    text-align: left;
                    color: #FF2222;
                }
            }

            ul {
                display: flex;
                justify-content: space-between;
                padding-top: 80px;
                gap: 40px;

                @include media-sp {
                    flex-direction: column;
                }

                li {
                    img {
                        height: 258px;
                        object-fit: cover;
                    }

                    span {
                        font-family: $font-APOTF;
                        font-size: 10px;
                        font-weight: 400;
                        line-height: 10px;
                        letter-spacing: 0.1em;
                        text-align: left;
                        padding-top: 16px;
                        display: block;
                        color: #999999;
                    }

                    h3 {
                        font-family: $font-APOTF;
                        font-size: 24px;
                        font-weight: 400;
                        line-height: 36px;
                        letter-spacing: 0.1em;
                        text-align: left;
                        padding-top: 16px;
                        color: #DDDDDD;
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                    }

                    p {
                        font-family: $font-APOTF;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 27.2px;
                        letter-spacing: 0.1em;
                        text-align: left;
                        padding-top: 16px;
                        color: #999999;
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                    }

                    a {
                        font-family: $font-APOTF;
                        display: flex;
                        align-items: center;
                        font-size: 16px;
                        font-weight: 500;
                        line-height: 16px;
                        letter-spacing: 0.1em;
                        text-align: left;
                        color: #DDDDDD;
                        margin-top: 40px;
                        transition: 0.3s;
                        
                        &:hover {
                            text-shadow: 0 0 10px white;
                        }

                        @include media-sp {
                            float: right;
                        }

                        .after {
                            margin-left: 12px;
                        }
                    }
                }
            }

            .view-more {
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 80px auto 0;
                width: 215px;
                height: 48px;
                color: #F8F8F8;
                border: 1px solid rgba(248, 248, 248, 0.3);
                border-radius: 50px;

                .after {
                    margin-left: 16px;
                }
            }
        }
    }

    .p-access-faq {
        background-color: #333333;
        height: 256px;
        display: flex;

        @include media-sp {
            flex-direction: column;
            height: auto;
        }

        &__access,
        &__faq {
            width: 50%;
            display: flex;
            padding: 88px 80px;
            border: 1px solid rgba(221, 221, 221, 0.2);
            justify-content: space-between;

            @include media-pc {
                padding: 88px 32px;
            }

            @include media-sp {
                width: 100%;
            }

            .access-title,
            .faq-title {
                display: flex;
                align-items: center;
                gap: 32px;

                @include media-sp {
                    gap: 24px;
                }

                h2 {
                    font-family: $font-APOTF;
                    font-size: 32px;
                    font-weight: 400;
                    line-height: 48px;
                    letter-spacing: 0.1em;
                    text-align: left;
                    color: #F8F8F8;

                    @include media-sp {
                        font-size: 24px;
                        line-height: 24px;
                    }

                    small {
                        display: block;
                        padding-top: 16px;
                        color: rgba(248, 248, 248, 0.8);
                        font-size: 14px;
                        font-weight: 500;
                        line-height: 14px;
                        letter-spacing: 0.1em;
                        text-align: left;

                        @include media-sp {
                            font-size: 12px;
                            line-height: 12px;
                        }
                    }
                }
            }

        }
    }
}
