#top {
    .p-fv {
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;

        &__container {
            position: relative;
            width: 100%;
            height: calc(100vh - 72px);

            @include media-sp {
                height: calc(100vh - 64px);
            }
        }

        &__upper {
            position: relative;
            height: calc((100% - 36px)/2);

            @include media-sp {
                height: calc((100vh - 22px)/2);
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            h1 {
                position: absolute;
                top: 40%;
                left: 120px;
                font-family: $font-mincho;
                font-size: 56px;
                font-weight: 300;
                line-height: 72.8px;
                letter-spacing: 0.15em;
                text-align: left;
                color: #CCB77F;

                @include media-sp {
                    font-size: 28px;
                    font-weight: 300;
                    line-height: 30.8px;
                    letter-spacing: 0.15em;
                    text-align: left;
                    writing-mode: vertical-lr;
                    top: 20%;
                    left: calc(100vw* 6.4 / 100);
                }

                span {
                    color: #f8f8f8;
                }
            }
        }

        &__middle {
            background-color: #01250B;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 38px;
            position: relative;
            z-index: 1;
            margin-top: -1px;

            @include media-sp {
                height: 24px;
            }

            &--content {
                display: flex;
                gap: 20px;
                align-items: center;
            }
        }

        &__bottom {
            position: relative;
            height: calc((100% - 36px)/2);
            margin-top: -1px;

            @include media-sp {
                height: calc((100vh - 22px)/2);
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            h1 {
                font-family: $font-mincho;
                font-size: 56px;
                font-weight: 300;
                line-height: 72.8px;
                letter-spacing: 0.15em;
                position: absolute;
                right: 120px;
                top: 40%;
                color: #CCB77F;

                @include media-sp {
                    font-size: 28px;
                    font-weight: 300;
                    line-height: 30.8px;
                    letter-spacing: 0.15em;
                    text-align: left;
                    writing-mode: vertical-lr;
                    top: 15%;
                    right: calc(100vw* 6.4 / 100);
                }

                span {
                    color: white;
                }
            }
        }
    }

    .p-about {
        background-image: url(../image/top/about.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        width: 100%;
        height: 800px;
        padding-top: 213px;
        padding-bottom: 164px;

        @include media-sp {
            height: 748px;
            padding-top: 144px;
            padding-bottom: 144px;
        }

        &__container {
            max-width: 864px;
            padding-left: 32px;
            padding-right: 32px;
            margin: 0 auto;
        }

        &__ttl {
            color: var(--KS-WHITE, #F8F8F8);
            font-family: $font-APOTF;
            font-size: 32px;
            font-style: normal;
            font-weight: 400;
            line-height: 100%;
            /* 32px */
            letter-spacing: 1.6px;
            text-align: center;

            @include media-sp {
                font-size: 24px;
                letter-spacing: 1.2px;
            }

            .__small {
                color: var(--KS-RED02, #F22);

                /* KS UNDER TITLE */
                font-family: $font-APOTF;
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: 100%;
                /* 14px */
                letter-spacing: 1.4px;
                text-align: center;

                @include media-sp {
                    font-size: 12px;
                    letter-spacing: 1.2px;
                }
            }
        }

        &__subttl {
            color: #FFF;
            text-align: center;

            /* KS H2 */
            font-family: $font-APOTF;
            font-size: 32px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%;
            /* 48px */
            letter-spacing: 3.2px;
            padding-top: 56px;

            @include media-sp {
                font-size: 24px;
                letter-spacing: 2.4px;
            }
        }

        &__contents {
            color: var(--KS-TEXT, rgba(248, 248, 248, 0.80));

            /* KS TEXT */
            font-family: $font-APOTF;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 170%;
            /* 27.2px */
            letter-spacing: 1.6px;
            padding-top: 32px;
            padding-bottom: 56px;

            @include media-sp {
                font-size: 14px;
                letter-spacing: 1.4px;
            }
        }

        &__more {
            margin: 0 auto;
        }

        a {
            padding: 12px 16px;

            @include media-sp {
                padding: 16px 32px;
            }
        }
    }

    .p-facility,
    .p-booth,
    .p-price {
        width: 100%;
        display: flex;

        @include media-sp {
            flex-wrap: wrap;
        }

        &__left {
            width: 66%;

            @include media-sp {
                width: 100%;
            }

            img {
                height: 100%;
            }
        }

        &__right {
            width: 34%;
            background-color: #111111;
            display: flex;
            align-items: center;

            @include media-sp {
                width: 100%;
            }

            &--container {
                max-width: 336px;
                margin: 0 auto;
                padding: 243px 32px;

                @include media-sp {
                    padding-top: 80px;
                    padding-bottom: 80px;
                }

                h2 {
                    color: var(--KS-WHITE, #F8F8F8);
                    font-family: $font-APOTF;
                    font-size: 32px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 100%;
                    /* 32px */
                    letter-spacing: 1.6px;

                    @include media-sp {
                        font-size: 24px;
                        letter-spacing: 1.2px;
                    }

                    small {
                        color: var(--KS-RED02, #F22);

                        /* KS UNDER TITLE */
                        font-family: $font-APOTF;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 100%;
                        /* 14px */
                        letter-spacing: 1.4px;

                        @include media-sp {
                            font-size: 12px;
                            letter-spacing: 1.2px;
                        }
                    }
                }

                p {
                    padding-top: 48px;
                    padding-bottom: 48px;
                    color: var(--KS-WHITE, #F8F8F8);
                    font-family: $font-APOTF;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 170%;
                    /* 27.2px */
                    letter-spacing: 1.6px;

                    @include media-sp {
                        font-size: 16px;
                        padding-top: 32px;
                        padding-bottom: 32px;
                    }
                }
            }
        }
    }

    .p-booth {
        @include media-sp {
            flex-wrap: wrap-reverse !important;
        }
    }

    .p-flow-beginner {
        display: flex;
        width: 100%;
        height: 560px;

        @include media-sp {
            flex-direction: column;
            height: auto;
        }

        &__left,
        &__right {
            position: relative;
            width: 50%;

            @include media-sp {
                width: 100%;
            }

            img {
                width: 100%;
                height: 560px;
                object-fit: cover;

                @include media-sp {
                    height: 260px;
                }
            }

            .flow-content,
            .beginner-content {
                width: 67%;
                position: absolute;
                left: 16%;
                top: 50%;
                transform: translateY(-50%);
                display: flex;
                justify-content: space-between;
                align-items: center;

                @include media-sp {
                    left: 32px;
                    width: calc(100% - 64px);
                }

                h2 {
                    font-family: $font-APOTF;
                    font-size: 32px;
                    font-weight: 400;
                    line-height: 48px;
                    letter-spacing: 0.1em;
                    text-align: left;
                    color: #F8F8F8;

                    small {
                        display: block;
                        padding-top: 16px;
                        font-size: 14px;
                        font-weight: 500;
                        line-height: 14px;
                        letter-spacing: 0.1em;
                        text-align: left;
                        color: #FF2222;
                        font-family: $font-APOTF;
                    }
                }

                a {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 100%;
                    border: 1px solid rgba(248, 248, 248, 0.3);
                    width: 96px;
                    height: 96px;

                    @include media-pc-sm {
                        width: 72px;
                        height: 72px;
                    }
                }
            }
        }
    }

    .p-news {
        padding-top: 240px;
        padding-bottom: 240px;
        background-color: #111;

        @include media-sp {
            padding: 120px 32px;
        }

        &__container {
            max-width: 1184px;
            padding-left: 32px;
            padding-right: 32px;
            margin: 0 auto;

            h2 {
                font-family: $font-APOTF;
                font-size: 32px;
                font-weight: 400;
                line-height: 32px;
                letter-spacing: 0.05em;
                text-align: center;
                color: #F8F8F8;
                width: max-content;
                margin: auto;

                small {
                    font-family: $font-APOTF;
                    display: block;
                    width: max-content;
                    margin: auto;
                    margin-top: 16px;
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 14px;
                    letter-spacing: 0.1em;
                    text-align: left;
                    color: #FF2222;
                }
            }

            ul {
                display: flex;
                justify-content: center;
                padding-top: 80px;
                gap: 40px;

                @include media-sp {
                    flex-wrap: wrap;
                }

                a {
                    max-width: calc((100% - 160px) / 3);
                    width: 100%;

                    @include media-sp {
                        max-width: 100%;
                    }

                    li {
                        img {
                            height: 258px;
                            object-fit: cover;
                        }

                        small {
                            font-family: $font-APOTF;
                            font-size: 10px;
                            font-weight: 400;
                            line-height: 10px;
                            letter-spacing: 0.1em;
                            text-align: left;
                            padding-top: 16px;
                            display: block;
                            color: #999999;
                        }

                        h3 {
                            font-family: $font-APOTF;
                            font-size: 24px;
                            font-weight: 400;
                            line-height: 36px;
                            letter-spacing: 0.1em;
                            text-align: left;
                            padding-top: 16px;
                            color: #DDDDDD;
                            display: -webkit-box;
                            -webkit-line-clamp: 2;
                            -webkit-box-orient: vertical;
                            overflow: hidden;
                        }

                        p {
                            font-family: $font-APOTF;
                            font-size: 16px;
                            font-weight: 400;
                            line-height: 27.2px;
                            letter-spacing: 0.1em;
                            text-align: left;
                            padding-top: 16px;
                            color: #999999;
                            display: -webkit-box;
                            -webkit-line-clamp: 2;
                            -webkit-box-orient: vertical;
                            overflow: hidden;
                        }

                        span {
                            font-family: $font-APOTF;
                            display: flex;
                            align-items: center;
                            font-size: 16px;
                            font-weight: 500;
                            line-height: 16px;
                            letter-spacing: 0.1em;
                            text-align: left;
                            color: #DDDDDD;
                            margin-top: 40px;
                            transition: 0.3s;

                            @include media-sp {
                                float: right;
                            }

                            .after {
                                margin-left: 12px;
                            }
                        }
                    }
                }
            }

            .view-more {
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 80px auto 0;
                width: 215px;
                height: 48px;
                color: #F8F8F8;
                border: 1px solid rgba(248, 248, 248, 0.3);
                border-radius: 50px;

                .after {
                    margin-left: 16px;
                }
            }
        }
    }

    .p-access-faq {
        background-color: #333333;
        height: 256px;
        display: flex;

        @include media-sp {
            flex-direction: column;
            height: auto;
        }

        &__access,
        &__faq {
            width: 50%;
            display: flex;
            padding: 88px 80px;
            border: 1px solid rgba(221, 221, 221, 0.2);
            justify-content: space-between;

            @include media-pc {
                padding: 88px 32px;
            }

            @include media-sp {
                width: 100%;
            }

            .access-title,
            .faq-title {
                display: flex;
                align-items: center;
                gap: 32px;

                @include media-sp {
                    gap: 24px;
                }

                h2 {
                    font-family: $font-APOTF;
                    font-size: 32px;
                    font-weight: 400;
                    line-height: 48px;
                    letter-spacing: 0.1em;
                    text-align: left;
                    color: #F8F8F8;

                    @include media-sp {
                        font-size: 24px;
                        line-height: 24px;
                    }

                    small {
                        font-family: $font-APOTF;
                        display: block;
                        padding-top: 16px;
                        color: rgba(248, 248, 248, 0.8);
                        font-size: 14px;
                        font-weight: 500;
                        line-height: 14px;
                        letter-spacing: 0.1em;
                        text-align: left;

                        @include media-sp {
                            font-size: 12px;
                            line-height: 12px;
                        }
                    }
                }
            }

        }
    }
}