@mixin media-pc-ex {
  @media screen and (max-width: 1500px) {
    @content;
  }
}
@mixin media-pc {
    @media screen and (max-width: 1200px) {
      @content;
    }
}
  
  @mixin media-pc-sm {
    @media screen and (max-width: 1080px) {
      @content;
    }
  }
  
  @mixin media-sp {
    @media screen and (max-width: 767px) {
      @content;
    }
  }

  @mixin media-sp-sm {
    @media screen and (max-width: 425px) {
      @content;
    }
  }
  
  @mixin media-is-pc {
    @media screen and (min-width: 767px) {
      @content;
    }
  }

  .l-common{
    max-width: 1480px;
    max-width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
    position: relative;
    @include media-sp{
        padding-left: 15px;
        padding-right: 15px;
    }
  }

  .is-pc{
    display: block;
    @include media-sp {
        display: none !important;
    }
  }

  .is-sp{
    display: none !important;
    @include media-sp {
        display: block !important;
    }
  }