@import "./config";
@import "./mixin";
@import "./reset";
@import "./component";
@import "./loading";
@import './pages/law';
@import './pages/terms';
@import './pages/privacy';
@import './pages/contact';
@import './pages/access';
@import './pages/news';
@import './pages/news_detail';
@import './pages/faq';
@import './pages/beginner';
@import './pages/booth';
@import './pages/flow';
@import './pages/top';
@import './pages/aboutus';
@import './pages/facility';
@import './pages/price';

.pc-only {
    display: block;

    @include media-sp {
        display: none !important;
    }
}

.sp-only {
    display: none !important;

    @include media-sp {
        display: block !important;
    }
}

.arrow {
    width: 96px;
    height: 96px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(248, 248, 248, 0.3);
    border-radius: 50px;
    transition: 0.3s;
    background: linear-gradient(90deg, rgba(248, 248, 248, 0.3) 50%, transparent 0);
    background-position: 100% 100%;
    background-size: 200% 100%;
    background-repeat: no-repeat;

    @include media-pc-sm {
        width: 72px;
        height: 72px;
    }
}

.arrow:hover {
    background-position: 0 0;
}

.gray-arrow {
    width: 96px;
    height: 96px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #333;
    border-radius: 50px;
    transition: 0.3s;
    background: linear-gradient(90deg, transparent 50%, #333 0);
    background-position: 100% 100%;
    background-size: 200% 100%;
    background-repeat: no-repeat;

    @include media-pc-sm {
        width: 72px;
        height: 72px;
    }
}

.gray-arrow:hover {
    background-position: 0 0;
}

.main-btn {
    transition: 0.3s;
    background: linear-gradient(90deg, rgba(248, 248, 248, 0.3) 50%, transparent 0);
    background-position: 100% 100%;
    background-size: 200% 100%;
    background-repeat: no-repeat;
}

.main-btn:hover {
    background-position: 0 0;
}