@import "./config";
@import "./mixin";
@import "./reset";
@import "./component";
@import "./loading";
@import './pages/law';
@import './pages/terms';
@import './pages/privacy';
@import './pages/contact';
@import './pages/access';
@import './pages/news';
@import './pages/news_detail';
@import './pages/faq';
@import './pages/beginner';
@import './pages/booth';
@import './pages/flow';
@import './pages/top';
@import './pages/aboutus';
@import './pages/facility';
@import './pages/price';

.pc-only {
    display: block;

    @include media-sp {
        display: none !important;
    }
}

.sp-only {
    display: none !important;

    @include media-sp {
        display: block !important;
    }
}

.arrow {
    width: 96px;
    height: 96px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(248, 248, 248, 0.3);
    border-radius: 50px;
    transition: 0.3s;
    background: linear-gradient(90deg, rgba(248, 248, 248, 0.3) 50%, transparent 0);
    background-position: 100% 100%;
    background-size: 200% 100%;
    background-repeat: no-repeat;

    @include media-pc-sm {
        width: 72px;
        height: 72px;
    }
}

.arrow:hover {
    background-position: 0 0;
}

.gray-arrow {
    width: 96px;
    height: 96px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #333;
    border-radius: 50px;
    transition: 0.3s;
    background: linear-gradient(90deg, transparent 50%, #333 0);
    background-position: 100% 100%;
    background-size: 200% 100%;
    background-repeat: no-repeat;

    @include media-pc-sm {
        width: 72px;
        height: 72px;
    }
}

.gray-arrow:hover {
    background-position: 0 0;
}

.main-btn {
    display: flex;
    padding: 16px 32px;
    border: 1px solid rgba(248, 248, 248, 0.3);
    border-radius: 50px;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    background: linear-gradient(90deg, rgba(248, 248, 248, 0.5) 50%, transparent 0);
    background-position: 100% 100%;
    background-size: 200% 100%;
    background-repeat: no-repeat;
    white-space: nowrap;
    width: max-content;
    cursor: pointer;

    span {
        color: #f8f8f8;
        font-size: 16px;
        letter-spacing: 1.6px;
        font-weight: 400px;
        font-family: "A P-OTF UD Shin Go Pr6N";
        text-align: center;
    }

    svg {
        margin-left: 12px;
    }
}

.main-btn-light {
    border: 1px solid rgba(17, 17, 17, 0.30);
    span {
        color: #111;
    }
}

.main-btn:hover {
    background-position: 0 0;
}